<div>
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <select [(ngModel)]="selectedOption" (change)="onChange()" class="form-control input-group">
    <option [value]="album.title" class="form-control input-group" *ngFor="let album of albums"> {{album.title}}</option>
  </select>
  <form *ngIf="selectedOption">
    <input #t class="form-control input-group" placeholder="titolo"> <br>
    <input #l class="form-control input-group" placeholder="durata"> <br>
    <input type="date" #d class="form-control input-group"> : pubblicazione<br>
    <button (click)="onClick(t,d,l)" class="btn btn-primary"> Aggiungi canzone </button>
  </form>
  <button *ngIf="showList" class="btn btn-primary" (click)="toggleList()">Hide list</button>
  <button *ngIf="!showList" class="btn btn-primary" (click)="toggleList()">Show list</button>

  <app-dettagli-album [selectedAlbum]="selectedAlbum"></app-dettagli-album>

  <ul class="list-group" *ngIf="showList">
    <li [ngClass]="song.colorClass" class="list-group-item" *ngFor="let song of filteredSong">
      {{song.title}}
      <button *ngIf="!isFavorite(song)" class="btn btn-primary" (click)="toggleFavorite(song)">Preferito</button>
      <button *ngIf="isFavorite(song)" class="btn btn-primary" (click)="toggleFavorite(song)">Rimuovi preferito</button>
    </li>
  </ul>
</div>